
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update User</h2>
            <span class="text-light">Use the below form to Update an account</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="name" value="<%= user.name %>" placeholder="Masukkan nama anda disini">
        </div>
        <div class="form-group">
            <label for="password" class="text-light">Password</label>
            <input type="text" name="password" value="<%= user.password%>" placeholder="Masukkan password anda disini">
        </div>
        <div class="form-group">
            <label for="age" class="text-light">Age</label>
            <input type="text" name="age" value="<%= user.age%>" placeholder="Masukkan umur anda disini">
        </div>
        <div class="form-group">
            <label for="age" class="text-light">Team</label>
            <input type="text" name="age" value="<%= user.team%>" placeholder="Masukkan nama team anda disini">
        </div>
        <div class="form-group">
            <label for="game" class="text-light">Game</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="game" value="Dota2" <%= user.game == 'Dota2' ? 'checked' : '' %>>
                <label for="radio-2" class="radio-label">Dota2</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="game" value="VALORANT"  <%= user.game == 'VALORANT' ? 'checked' : '' %> >
                <label for="radio-3" class="radio-label">VALORANT</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="game" value="Apex Legends"  <%= user.game == 'Apex Legends' ? 'checked' : '' %> >
                <label for="radio-4" class="radio-label">Apex Legends</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="game" value="PUBG"  <%= user.game == 'PUBG' ? 'checked' : '' %> >
                <label for="radio-5" class="radio-label">PUBG</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-6" name="game" value="CSGO"  <%= user.game == 'CSGO' ? 'checked' : '' %> >
                <label for="radio-7" class="radio-label">CSGO</label>
            </div>
        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-7" name="status" value="Coach" <%= user.status == 'Coach' ? 'checked' : '' %> >
                <label for="radio-7" class="radio-label">Coach</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-8" name="status" value="Captain" <%= user.status == 'Captain' ? 'checked' : '' %> >
                <label for="radio-8" class="radio-label">Captain</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-9" name="status" value="Member" <%= user.status == 'Member' ? 'checked' : '' %> >
                <label for="radio-9" class="radio-label">Member</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->